.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
    cursor: pointer;
}
.add-product-name,
.add-product-description{
    width: max(40%,280px);
}
.add-product-name input,
.add-product-description textarea{
    padding: 10px;
    outline-color: tomato;
    transition: all 0.3s ease; 

}

.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select,
.add-category-price input{
    max-width: 120px;
    padding: 10px;
    outline-color: tomato;
    transition: all 0.3s ease; 
}

.add-category-price select{
    cursor: pointer;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 4px; 
    font-size: 16px; 
    font-weight: 500; 
    text-align: center; 
}
.choose{
    background-color: tomato;
    color: white;
}



/* Responsive styles for smaller screens */
@media (max-width:600px) {
    .login-popup-container {
        width: 90%; /* Use most of the screen width */
        padding: 20px; /* Reduce padding */
        gap: 15px; /* Reduce gap */
        font-size: 13px; /* Reduce font size */
    }

    .login-popup-title img {
        width: 14px; /* Adjust icon size */
    }

    .login-popup-inputs input {
        padding: 8px; /* Reduce input padding */
    }

    .login-popup-container button {
        padding: 8px; /* Reduce button padding */
        font-size: 14px; /* Adjust button font size */
    }

    .login-popup-condition {
        gap: 5px; /* Reduce gap between condition elements */
    }

    .login-popup-condition input {
        margin-top: 3px; /* Adjust input position */
    }
}

